@media (max-width: 1599px) {
  .footer-wrapper {
    max-width: 1320px;
  }

  .footer__logo a {
    flex: 0 0 auto;
    width: 178px;
  }

  .footer__left {
    width: 35%;
  }

  .footer__center {
    width: 35%;
  }

  .footer__end {
    width: 30%;
  }

  .footer__newsletter p br {
    display: none;
  }

  .footer__links {
    flex: 0 0 auto;
    width: 50%;
  }

  .footer__social a {
    height: 65px;
    width: 65px;
  }

  .footer__social {
    padding: 82px 0px 120px;
    gap: 20px;
  }

  .footer__brands a {
    width: 45%;
  }

  .footer {
    padding: 110px 0px 20px;
    background-color: #014359;
  }

  .partners-section {
    padding: 100px 0px 100px;
  }

  .brands-section {
    padding: 110px 0px 110px;
  }

  .testimonial-section {
    background-color: #00455c;
    padding: 110px 0px 100px;
  }
}

@media (max-width: 1399px) {
  .fs-1 {
    font-size: 52px !important;
  }

  .btn {
    position: relative;
    padding: 16px 36px;
    font-size: 18px;
  }

  .header__logo img {
    max-width: 100px;
  }

  .header {
    padding: 24px 0px;
  }

  .hero__content-inner h1 {
    line-height: 66px;
    margin-bottom: 18px;
  }

  .hero__content-inner p {
    font-size: 20px;
    margin-bottom: 38px;
  }

  .hero-section {
    padding: 170px 0px 120px;
  }

  .hero__slider-area {
    max-width: 95%;
    height: 470px;
  }



  .footer__social a {
    height: 50px;
    width: 50px;
  }

  .footer__social a img {
    max-width: 20px;
  }

  .footer__end {
    width: 24%;
  }

  .footer-wrapper {
    max-width: 1140px;
  }

  .footer__left {
    width: 40%;
  }

  .fs-2 {
    font-size: 44px !important;
  }

  .brands__slider .swiper-slide {
    width: 150px;
    text-align: center;
  }

  .brands__slider .swiper-slide img {
    max-width: 100%;
    max-height: 108px;
  }

  .brands-section {
    padding: 88px 0px 90px;
  }

  .pretitle {
    font-size: 16px;
    margin-bottom: 18px;
  }

  .case__title h2 {
    margin-bottom: 22px;
  }

  .case-section {
    padding: 110px 0px 50px;
  }

  .testimonial-section {
    padding: 70px 0px 80px;
  }
}

@media (max-width: 1199px) {
  .hero__slider-area {
    max-width: 90%;
    height: 370px;
  }



  .header__nav>nav>ul {
    gap: 37px;
  }


  .footer {
    padding: 80px 0px 20px;
  }

  .footer-wrapper {
    max-width: 920px;
  }

  .footer__top {
    padding-bottom: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__top>div {
    width: 50%;
    max-width: 100%;
  }

  .footer__social {
    padding: 42px 0px 46px;
    gap: 20px;
  }

  .testimonial__item p {
    font-size: 22px;
  }

  .testimonial-section {
    min-height: 740px;
  }

  .testimonial__item p.small {
    font-size: 18px;
    line-height: 2;
  }
}

@media (max-width: 991px) {
  .hero__slider-area {
    max-width: 90%;
    height: 300px;
  }


  .footer-wrapper {
    max-width: 720px;
  }

  .footer__top {
    padding-bottom: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__top>div {
    max-width: 100%;
  }

  .footer__left {
    order: 0;
    width: 70% !important;
  }

  .footer__end {
    order: 1;
    width: 30% !important;
  }

  .footer__center {
    order: 2;
    width: 100% !important;
  }

  .footer__brands {
    flex-wrap: wrap;
    gap: 23px;
  }

  .footer__brands a {
    width: 100%;
  }

  .footer__social {
    padding: 15px 0px 38px;
    gap: 5px;
  }

  .footer__bottom {
    padding: 20px 0px 10px;
    font-size: 15px;
  }

  .partner__btn .icon {
    width: 170px;
    height: 170px;
  }

  .partner__btn .icon img {
    max-width: 90px;
    max-height: 90px;
  }

  .partner__btn .text {
    font-size: 18px;
  }

  .case-section {
    padding: 77px 0px 10px;
  }

  .testimonial__item p {
    font-size: 20px;
  }

  .testimonial__slider .swiper-pagination {
    margin-top: 24px;
    gap: 4px;
  }

  .testimonial__slider .swiper-pagination-bullet {
    height: 14px;
    width: 14px;
  }
}

@media (max-width: 767px) {

  .fs-1 {
    font-size: 37px !important;
  }

  .hero__content-inner h1 {
    line-height: 47px;
    margin-bottom: 10px;
  }

  .hero__content-inner p {
    font-size: 18px;
    margin-bottom: 38px;
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 16px;
  }

  .btn {
    position: relative;
    padding: 16px 27px;
    font-size: 16px;
  }

  .hero-section {
    padding: 120px 0px 50px;
  }

  .hero__slider-area {
    max-width: 400px;
    height: 182px;
  }



  .footer {
    padding: 40px 0px 0px;
  }

  .footer__left {
    order: 0;
    width: 100% !important;
  }

  .footer__end {
    order: 2;
    width: 100% !important;
  }

  .footer__brands a {
    width: 45%;
  }

  .footer__top {
    gap: 25px;
  }

  .footer__logo-content p {
    font-size: 10px;
    margin-bottom: 4px;
  }

  .footer__logo a {
    flex: 0 0 auto;
    width: 130px;
  }

  .footer__logo {
    margin-bottom: 26px;
  }

  .newsletter__form input {
    height: 56px;
    padding-left: 12px;
    padding-right: 140px;
  }

  .footer__newsletter p {
    font-size: 12px;
    margin-bottom: 0px;
  }

  .footer__bottom {
    padding: 20px 0px 10px;
    font-size: 13px;
    flex-wrap: wrap;
    justify-content: center !important;
    text-align: center;
  }

  .footer-wrapper {
    max-width: 420px;
  }

  .partners-section {
    padding: 41px 0px 48px;
  }

  .fs-2 {
    font-size: 34px !important;
  }

  .partners__title h2 {
    margin-bottom: 10px;
  }

  .partners__title p {
    font-size: 17px;
  }

  .partners__title {
    margin-bottom: 20px;
  }

  .partner__btn {
    gap: 7px;
    margin-bottom: 28px;
  }

  .brands-section {
    padding: 40px 0px 40px;
  }

  .brands__slider .swiper-slide {
    width: 110px;
  }

  .brands__slider {
    margin-bottom: 36px;
  }

  .brands__title {
    margin: 0 auto;
    margin-bottom: 44px;
  }

  .brands__slider .swiper-slide img {
    max-width: 100%;
    max-height: 90px;
  }

  .case-section {
    padding: 43px 0px 10px;
  }

  .gallery-container {
    gap: 6px;
  }

  .case__title p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 0px;
  }

  .center-item {
    width: 288px;
    height: 400px;
  }

  .h-350 {
    height: 120px;
  }

  .w-348 {
    width: 120px;
  }

  .h-462 {
    height: 210px;
  }

  .content-overlay {
    width: 100%;
    padding: 52px 12px 14px;
    justify-content: flex-start;
    align-items: flex-end;
    opacity: 1;
    transform: translateY(0px);
    height: 63%;
    padding-bottom: 18px;
    background: linear-gradient(to top, black, transparent);
    flex-direction: column-reverse;
    border-radius: 18px;
  }

  .overlay-text {
    color: white;
    font-size: 18px;
    max-width: 100%;
    line-height: 1.4;
    text-align: right;
    font-family: "Source Sans 3", sans-serif;
  }

  .content-overlay button {
    font-size: 13px;
    border-width: 1px;
    font-weight: 600;
  }

  .pin-section {
    height: auto;
  }

  .testimonial__item p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 14px;
  }

  .testimonial-section {
    padding: 40px 0px 30px;
  }

  .testimonial-section {
    min-height: auto;
  }

  .borderAnimation::after {
    height: 6px;
  }
}


@media (max-width: 575px) {
  .header {
    padding: 16px 0px;
  }

  .hero__slider-area {
    max-width: 100%;
    height: 182px;
  }



  .partner__btn .icon {
    width: 130px;
    height: 130px;
  }

  .partner__btn .text {
    font-size: 13px;
    line-height: 1.4;
  }

  .partner__btn .icon img {
    max-width: 70px;
    max-height: 70px;
  }
}

@media (max-width: 360px) {
  .header__logo img {
    max-width: 76px;
  }

  .hero__content-inner h1 br {
    display: none;
  }

  .hero__slider-area {
    max-width: 100%;
    height: 150px;
  }


}